<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="../static/style.css">

{% block header %}
<nav class="navbar" style="background: black;">
  <div class="container-fluid" style="color:white" style="background: black;">
    <a class="navbar-brand" href="/">NESTRO Challenge 2023</a>

    <a class="nav-link active" href="/auth/login">Войти</a>
    <a class="nav-link" href="/auth/register">Регистрация</a>
    <a class="nav-link" style="color:black">Made by Dan and Alex from MISIS</a>
  </div>
</nav>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<title>Регистрация</title>
</nav>
{% endblock %}

<style>
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 5rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

{% block content %}

        <div class="container" style="width: 30rem">
<div style="
  height: 540px;
  margin: 10px;
  padding: 10px;
  background: ghostwhite;
  border-radius: 1.25rem;
  border-color: black;
  border-style: solid;
">

  <div class="col" style="
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
  ">
    <h1 class="h3 mb-3 fw-normal">Регистрация</h1>
{#  #}
      <div class="container">
    <form method="post">
      <div class="form-group">
        <label for="username">Логин</label required>
        <input class="form-control" style="border-radius: 5rem" name="name" id="name" required>
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <input class="form-control" style="border-radius: 5rem" name="username" id="username" required>
      </div>
      <div class="form-group">
        <label for="password">Пароль</label>
        <input class="form-control" style="border-radius: 5rem" type="password" name="password" id="password" required>
      </div>
        <div class="d-flex flex-column align-items-center">
        <IMG src="https://reg.nestro-challenge.ru/upload/7a512caa-bca5-448b-ab89-20f27c576ea0.svg">
        <br>
      <button class="btn btn-primary" style="border-radius: 1.25rem" type="submit">Регистрация</button>
        </div>
      {#  <button class="btn btn-primary float-right" type="submit">Регистрация</button> #}
    </form>
  </div>


</div>

{% endblock %}