.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: rgb(153, 207, 255);
}

.table__row:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

.table__header {
    text-align: left;
}

.cart-image {
    filter: brightness(0) invert(1);
    width: 50%;
    height: 50%;
}

.mt-10 {
    margin-top: 10%;
}