{% block header %}
<nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid" style="color:white">
    <a class="navbar-brand" href="/">NESTRO Challenge 2023</a>

    <a class="nav-link active" href="/">Каталог</a>
    <a class="nav-link" href="/create">Добавить данные</a>
    <a class="nav-link" href="/checkout">Заказ</a>
    <a class="nav-link" href="/auth/login">Выйти</a>


    <form class="d-flex" role="search">
    <input id="searchInput" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"

      onchange="updateTagLink()">
    <a id="tagLink" href="/tag/" class="btn btn-outline-success">Поиск</a>


    <script>
      function updateTagLink() {
        var searchValue = document.getElementById("searchInput").value;
        var tagLink = document.getElementById("tagLink");
        tagLink.href = "/tag/" + searchValue;
      }
      document.getElementById('searchInput').onkeypress = function(e){
        if (!e) e = window.event;
        var keyCode = e.code || e.key;
        if (keyCode == 'Enter'){
            return false;
        }
      }
    </script>
    </a>
    </form>
  </div>
</nav>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/путь/к/файлу/bootstrap-icons.css">
<title>Каталог</title>
</nav>
{% endblock %}

{% block content %}


<style>
  .card-body .media-body .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    max-height: 3.6em; /* Вы можете настроить это значение в зависимости от размера шрифта и интервала между строками */
  }

  .card-body .media-body .description:hover {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    max-height: unset;
  }

</style>

<div class="container mt-50 mb-50">
 {% if title %}
    <h1 style="text-align: center; margin-bottom: 20px">Результаты по тегу
    <span class="badge p-2 align-items-center text-primary-emphasis bg-primary-subtle rounded-pill" style="margin: 5px">
      <a href="/tag/Баку" class="text-decoration-none">
        <span class="px-1">{{ title }}</span>
      </a>
    </span>
    </h1>
 {% endif %}
  <div class="row d-flex">
    {% for item in items %}
    <div class="col-md-4 align-items-stretch" style="margin-bottom: 10px">
      <div class="card card-body">
        <div class="media align-items-center align-items-lg-start text-center text-lg-left flex-column flex-lg-row">
          <div class="mr-2 mb-3 mb-lg-0">
            <img src="../../static/img/{{ item['item_image'] }}" width="150" height="150" alt="{{ item['name'] }}">
          </div>
          <div class="media-body">
            <h6 class="media-title font-weight-semibold">
              <a data-abc="true">{{ item['item_name'] }}</a>
            </h6>

            <ul class="list-inline list-inline-dotted mb-3 mb-lg-2" style="overflow: auto;" data-bs-toggle="tooltip"
            data-bs-placement="bottom" title="{{item['item_description']}}">
              <li class="list-inline-item">
                <p href="#" class="text-muted description" data-abc="true">{{item['item_description']}}</p>
              </li>
          </div>




<div class="d-inline-flex" style="overflow: auto; padding-bottom: 5px; width: 100%; justify-content: center">

{% for tag_ in item['dataset_author'].split(",") %}
    {% for tag in [tag_.strip()] %}
    <span class="badge p-2 align-items-center text-primary-emphasis bg-primary-subtle rounded-pill" style="margin: 5px">
      <a href="/tag/{{tag}}" class="text-decoration-none">
        <span class="px-1">{{tag}}</span>
      </a>
    </span>
    {% endfor %}
  {% endfor %}

</div>

<br>



        <form action="{{ url_for('cart.preview', item_id=item['id']) }}" method="post">
          <input class="btn btn-primary" type="submit" value="    Просмотреть    " style="background-color: #35aa5b;"
            onclick="console.log(item)">
        </form>

          <form action="{{ url_for('cart.add_cart', item_id=item['id']) }}" method="post">
            <input class="btn btn-primary" type="submit" value="Добавить в выгрузку" onclick="console.log(item)">
          </form>

          <form action="{{ url_for('cart.mail_item', item_id=item['id']) }}" method="post" style="display: inline-block;">
            <input class="btn btn-primary" type="submit" value="     Email      " style="background-color: #729299;"
              onclick="console.log(item)">
          </form>

          <form action="{{ url_for('cart.download_item', item_id=item['id']) }}" method="post" style="display: inline-block;">
            <input class="btn btn-primary" type="submit" value=" ⤓ " style="background-color: #50696e" onclick="console.log(item)">
          </form>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}