{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
{% for item in items %}
<div class="col-4 card">
  <img class="card-img-top" src="{{ url_for('static', filename='img/') }}" alt="{{ item['name'] }}">
  <div class="card-body">
    <h5 class="card-title">{{ item['name'] }}</h5>
    <p class="card-text">{{ item['description'] }}</p>
    <a href="{{ url_for('store.view_item', item_id=item['id']) }}" class="btn btn-primary">View Item</a>
    <form action="{{ url_for('cart.add_cart', item_id=item['id']) }}" method="post">
      <button class="btn btn-primary" type="submit">Add to Cart</button>
    </form>
  </div>
</div>
{% endfor %}

  </div>
</div>
{% endblock %}
